#Build files
*build

#Dependencies
client/node_modules
client/package-lock.json
server/package-lock.json
server/node_modules

#Deployment
*app.yaml*

#Development IDE
*/.idea
.idea/

#Secrets
server/.env
client/.env
