.dwm_main {font-size: 14px;}
.dwm_main a {display: block;height: 100%;}
.dwm_main td {padding: 0;
   border-top:  1px solid #ffffff;
   border-left: 1px solid #e7ebee;
   border-bottom: 0;
   border-right: 0}
.dwm_main td:first-child {border-left: 0}
.dwm_main th {
    font-weight: normal;
    vertical-align: top;
    padding: 0 2px 0 2px;
    color: #ffffff;
    background-color: #373a47;
    border-left: 1px solid #e7ebee;
    text-align: center;
}
td.I {background-color: #ddffdd}
.dwm_main td.row_labels     {background-color: #373a47; white-space: nowrap}    /* used for the row labels column */
table.dwm_main {clear: both;width: 100%;border-spacing: 0;border-collapse: separate;border: 0;}
tr.even_row td.new {background-color: #ffffff}
tr.odd_row td.new {background-color: #f2f4f6}
td.times          {background-color: #373a47}
.times a:link    {color: #ffffff;    text-decoration: none; font-weight: normal}
.times a:visited {color: #ffffff; text-decoration: none; font-weight: normal}
.times a:hover   {color: #ffffff;   text-decoration:underline; font-weight: normal}
.dwm_main th a:link    {color: #ffffff;    text-decoration: none; font-weight: normal}
.dwm_main th a:visited {color: #ffffff;text-decoration: none;font-weight: normal;}
.dwm_main th a:hover   {color: #ffffff;   text-decoration:underline; font-weight: normal}
.row_labels a:link    {color: #ffffff;    text-decoration: none; font-weight: normal}
.row_labels a:visited {color: #ffffff;text-decoration: none;font-weight: normal;}
.row_labels a:hover   {color: #ffffff;   text-decoration:underline; font-weight: normal}
.dwm_main tr:hover td:hover.odd_row, .dwm_main tr:hover td:hover.even_row {background-color: #aabbff}
.dwm_main tr:hover td.times {background-color: #aabbff; color: #0B263B}
.dwm_main td:hover.new, .dwm_main td.new_hover {background-color: #ffc0da}
.dwm_main tr:hover td.row_labels, .dwm_main td.row_labels_hover {background-color: #ffc0da; color: #0B263B}
.dwm_main#month_main td:hover.valid, .dwm_main#month_main td.valid_hover {background-color: #ffc0da}


div.celldiv {max-width: 100%;overflow: hidden;margin: 0;padding: 0;}
div.slots1 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots2 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots3 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots4 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots5 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots6 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots7 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots8 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots9 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
div.slots10 {display: block; line-height: 150%; text-align: center; overflow: hidden; margin: 0; padding: 0; }
td.new a, a.new_booking {display: block; font-size: medium; text-align: center}
td.new img, .new_booking img {margin: 0 auto; }
img.repeat_symbol {float: right; margin-right: 4px;}
.dwm_main#month_main img.repeat_symbol {padding: 0px}
