.button {
    background-color: transparent;
    border: none;
    padding: 20px 5px;
}
.menu {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 150px;
    background: #FFFFAA;
}

.options {
    padding: 0px;
}
